<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.vehicle.mapper.VehicleCollectTaskMapper">
  <resultMap id="Task" type="com.ruoyi.business.vehicle.domain.VehicleCollectTask">
    <id property="id" column="id"/><result property="sourceCode" column="source_code"/><result property="brandName" column="brand_name"/><result property="seriesId" column="series_id"/><result property="seriesName" column="series_name"/><result property="status" column="status"/><result property="startedTime" column="started_time"/><result property="completedTime" column="completed_time"/><result property="fetchedCount" column="fetched_count"/><result property="insertedCount" column="inserted_count"/><result property="updatedCount" column="updated_count"/><result property="existingCount" column="existing_count"/><result property="failedCount" column="failed_count"/><result property="errorMessage" column="error_message"/><result property="createBy" column="create_by"/><result property="createTime" column="create_time"/><result property="updateBy" column="update_by"/><result property="updateTime" column="update_time"/><result property="remark" column="remark"/>
  </resultMap>
  <sql id="columns">id,source_code,brand_name,series_id,series_name,status,started_time,completed_time,fetched_count,inserted_count,updated_count,existing_count,failed_count,error_message,create_by,create_time,update_by,update_time,remark</sql>
  <select id="selectList" resultMap="Task">select <include refid="columns"/> from business_vehicle_collect_task <where><if test="brandName != null and brandName != ''">and brand_name like concat('%',#{brandName},'%')</if><if test="seriesName != null and seriesName != ''">and series_name like concat('%',#{seriesName},'%')</if><if test="status != null and status != ''">and status=#{status}</if></where> order by create_time desc</select>
  <select id="selectById" resultMap="Task">select <include refid="columns"/> from business_vehicle_collect_task where id=#{id}</select>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">insert into business_vehicle_collect_task(source_code,brand_name,series_id,series_name,status,started_time,fetched_count,inserted_count,updated_count,existing_count,failed_count,error_message,create_by,create_time,remark) values(#{sourceCode},#{brandName},#{seriesId},#{seriesName},#{status},#{startedTime},0,0,0,0,0,'',#{createBy},sysdate(),#{remark})</insert>
  <update id="update">update business_vehicle_collect_task set status=#{status},started_time=#{startedTime},completed_time=#{completedTime},fetched_count=#{fetchedCount},inserted_count=#{insertedCount},updated_count=#{updatedCount},existing_count=#{existingCount},failed_count=#{failedCount},error_message=#{errorMessage},update_by=#{updateBy},update_time=sysdate(),remark=#{remark} where id=#{id}</update>
  <update id="markInterruptedRunningTasks">update business_vehicle_collect_task set status='3',completed_time=sysdate(),error_message='服务重启，任务中断，可重试',update_by='system',update_time=sysdate() where status='1'</update>
</mapper>
